* {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(/image/Hero-bg.png);
  background-size: 100%;
  max-height: 698px;
  margin: 0 auto;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  background-color: #f5f8ff;
}

.header-anchor {
  text-decoration: none;
  color: white;
}

.btn {
  background-color: #4e47ff;
  padding: 12px 36px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}

.logo a {
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: #4e47ff;
}

.content-color {
  color: #252432;
}

.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  list-style: none;
  padding: 50px 150px;
}

.content {
  text-align: center;
  margin-top: 158px;
  align-items: center;
}

.content h1 {
  padding: 35px;
  font-size: 65px;
}
.content button {
  margin-bottom: 158px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

.action {
  display: flex;
  gap: 220px;
  align-items: center;
  margin: 116px 150px;
}

.action-contain {
  max-width: 517px;
  max-height: 303px;
}

.action-contain h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
}

.action-contain p {
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 50%;
}
.action-image img {
  border-radius: 48px;
}

.productive {
  background-color: #e5e7ff;
  border-radius: 24px;
  text-align: center;
}

.productive-content {
  display: flex;
  justify-content: center;
  gap: 161px;
  padding: 0 142px 50px 142px;
}

.productive-content h2 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
  font-family: "Inter", sans-serif;
}

.productive-content p {
  font-size: 20px;
  color: #000000;
  opacity: 50%;
}

.productive-headline h1 {
  color: #252432;
  font-weight: bold;
  font-size: 38px;
  padding: 50px;
}

.user {
  margin-top: 137px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}
.user h1 {
  text-align: center;
  font-size: 42px;
  font-weight: bold;
}

.view-content {
  max-width: 414px;
  border-radius: 14px;
  border: 1px solid #f2eded;
  background-color: #fafcff;
  padding: 24px;
}

.view-content img {
  margin: 0 4px 24px 0;
  width: 20px;
  height: 20px;
}

.view-content h2 {
  font-size: 30px;
}

.view-content p {
  font-size: 21px;
  margin-top: 8px;
}

.reviewer {
  display: flex;
  margin-top: 24px;
}

.reviewer-name {
  margin-left: 12px;
}

.reviewer-name h4 {
  color: #757575;
}

.reviewer-name p {
  color: #b3b3b3;
}

.reviewer-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
